html {
  background-color: #747484;
  text-align: center;
}

a, li {
  text-decoration: none;
  color: orange;
  font-size: 25px;
  padding: 25px;
  margin: 50px;

}

a:hover {
  background-color: #444444;
  border-radius: 50%;
}

p {
  padding-top: 25px;
  font-size: 25px;
}

h1 {
  font-size: 50px;
}
